body {
    margin: 0;
    background-color: rgb(98, 107, 109);
    color: rgb(18, 18, 18);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Home Page */
.menu {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}

.menu-links {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;

}

.title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.text-container {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
}

.text-container .header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-container .text {
    display: flex;
    justify-content: center;
}






/* Heros */

.hero-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.hero-container {
    display: flex;
    background-color: rgb(110, 110, 110);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
}

.hero-img img {
    height: 200px;
    width: auto;
    border-style: groove;
    border-width: 2px;
    border-color: gold;
    border-radius: 10px;
}

.hero-right {
    margin: 5px;
}

.hero-name {
    font-size: 20px;
    font-weight: bold;
}


/* NPCs */



.npc-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.npc-header {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-weight: bold;
}

.npc-header div {
    padding: 5px;
}

.npc-header .left {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    border-right-width: 2px;
}

.npc-header .middle {
    display: flex;
    justify-content: center;
    border-right-style: solid;
    border-right-width: 2px;
}

.npc-header .right {
    display: flex;
    justify-content: center;
}

.npc-content {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.npc-content div {
    padding: 5px;
}

.npc-content .left {
    border-right-style: solid;
    border-right-width: 2px;
}

.npc-content .middle {
    border-right-style: solid;
    border-right-width: 2px;
}

.npc-poster {
    display: flex;
    justify-content: space-evenly;
}

.npc-image img {
    width: 500px;
    height: auto;
    border-style: double;
    border-color: gold;
}


/* New NPC */

.content-container {
    display: flex;
    justify-content: center;
}

.npc-name .header {
    font-weight: bold;
    padding-left: 10px;
    border-bottom-style: solid;
}

.npc-name {
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

.name {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style: solid;

}

.npc-location .header {
    font-weight: bold;
    padding-left: 10px;
    border-bottom-style: solid;
}

.npc-location {
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

.location {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style: solid;
}

.npc-description .header {
    font-weight: bold;
    padding-left: 10px;
    border-bottom-style: solid;
}

.npc-description {
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: black;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-style: solid;
}

/* Quests */
.quest-content {
    width: max-content;
}

.quest-table {
    display: flex;
    justify-content: space-around;
    width: max-content;
}

.quest-table div {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    width: 200px;
    padding: 5px;
}

.quest-header {
    display: flex;
    justify-content: space-around;
    width: max-content;
    border-top-style: solid;
    border-top-width: 2px;
}

.quest-header div {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 200px;
    padding: 5px;
}

.quest-header div {
    font-weight: bold;
    border-right-style: solid;
    border-right-width: 2px;
}

.quest-header .left {
    border-left-style: solid;
    border-left-width: 2px;
}

.quest-table .left {
    border-left-style: solid;
    border-left-width: 2px;
}

/* Log */



.log-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.log-container .header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 5px;
}

.log-container .npc-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.npc-list a {
    padding: 10px;
}

.log-container .summary {
    justify-content: center;
    padding: 5px;
}